.containerMacros {
  text-align: center;
  width: 680px;
  height: 720px;
  background-color: #95B7DF;
  box-shadow: 10px 10px 5px 5px gray;
  border-radius: 20px;
}

.container {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;              /* Enable Flexbox */
  justify-content: center;    /* Center horizontally */
  align-items: center;        /* Center vertically */
}

/*.title {*/
/*  linearGradient: ";*/
/*}*/